!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", :"http-equiv" => "Content-Type"}
  %body
    %p
      Date:
      = @report.tour_date.date.strftime("%m/%d/%Y")
    %p
      Market:
      = @report.tour_date.name
    %p
      Venue:
      = @report.tour_date.venue
    %p
      = "#{@report.user.company_rep? ? "Company" : "Tour"} Rep:"
      = @report.user.full_name
    %p
      Email:
      = @report.user.email
    %p
      = @report.description
    %p
      Photo Gallery:
      - link = public_tour_pictures_for_company_url(:company_id => @company_id, :report_hash => @report.public_url)
      = link_to link, link