= semantic_form_for [:company_admin, @company], :html => {:multipart => true} do |f|
  = f.inputs "Logo" do
    = image_tag(f.object.logo.url, :class => "left margin-right") rescue nil
    =f.input :logo, :as => :file

  = f.inputs "Contacts" do
    = f.semantic_fields_for :email_contacts do |j|
      = j.input :email

  = f.buttons