- role_name = @resource.role_name
%p
  = "#{@resource.full_name},"
%p
  You have been made a
  = role_name
  on the
  %strong
    UPROAR Festival Reporting web application.
%p
  = "#{role_name}s can:"
  %ul
    - if @resource.admin?
      %li Manage and Add Users of All Levels
      %li Manage and Add Companies
      %li Manage and Add Tour Dates
      %li View, Create, and Edit All Reports
    - elsif @resource.company_admin?
      %li Manage and Add Representatives for Your Company
      %li Manage Your Company's Logo and Information
      %li Manage Your Company's Reporting Email Group
      %li View, and Edit All Published Reports for Your Company
    - elsif @resource.company_rep?
      %li Easily Create, Edit, and Publish a Report for any UPROAR Festival Tour Date
      %li Easily Upload and Attach Photos to your Reports
    - elsif @resource.tour_rep?
      %li Easily Create, Edit, and Publish a Report for any UPROAR Festival Tour Date that will go out to all companies
      %li Easily Upload and Attach Photos to your Reports
%p
  To set your password and start using the UPROAR Festival Reporting web application, please click on the following link below (or copy and paste the URL into your browser window):
%p
  - link = edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
  = link_to link,link
%p
  = "- The UPROAR Festival Reporting Team"
